:root {
	--background-color: #242424;
	line-height: 1.5;
	font-weight: 400;
	background-color: #1a1a1a;
	font-family: 'Quicksand', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color-scheme: light dark;
	background-color: var(--background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
